<router-outlet></router-outlet>
<div class="p-3">
    <div>
        <h6 class="mx-2">Cloud</h6>
        <button (click)="getTime()" class="btn btn-primary m-2">Get Time</button>
        <button (click)="getParams()" class="btn btn-primary m-2">Get Params</button>
    </div><br>
    <div>
        <h6 class="mx-2">Authentication</h6>
        <button (click)="addRole()" class="btn btn-success m-2">Add role</button>
        <button (click)="addUser()" class="btn btn-success m-2">Add user</button>
        <button (click)="login()" class="btn btn-primary m-2">Login</button>
        <button (click)="logout()" class="btn btn-danger m-2">Logout</button>
        <button (click)="addRandomUser()" class="btn btn-success m-2">Add random user</button>
        <button (click)="deleteRandomUser()" class="btn btn-danger m-2">Delete random user</button>
    </div><br>
    <div>
        <h6 class="mx-2">CRUD</h6>
        <input type="text" class="form-control ms-2 mb-2 w-25" placeholder="Class name" [(ngModel)]="className">
        <button (click)="get()" class="btn btn-primary m-2">Get</button>
        <button (click)="post()" class="btn btn-success m-2">Post</button>
        <button (click)="put()" class="btn btn-warning m-2">Put</button>
        <button (click)="delete()" class="btn btn-danger m-2">Delete</button>
    </div><br>
    <div>
        <h6 class="mx-2">Class "Live"</h6>
        <!-- <button (click)="getLive()" class="btn btn-primary m-2">Get Live</button> -->
        <button (click)="addLive()" class="btn btn-success m-2">Add Live</button>
        <button (click)="getCompoundQuery()" class="btn btn-primary m-2">Get Compound Data</button>
        <button (click)="getMatchKeyQuery()" class="btn btn-primary m-2">Get Matched-keys Data</button>
        <button (click)="getMatchQuery()" class="btn btn-primary m-2">Get Matched-Relation Data</button>
        <button (click)="getLiveWithRelation()" class="btn btn-primary m-2">Get live+Relation Data</button>
    </div><br>
</div>